{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<title>
			{% block title %}
				Data Exchange Site				
			{% endblock %}
		</title>
		<link rel="stylesheet"
		 href ="{ static 'css/stylecss' %}"/>
		 {% block header %}{% endblock %}
	</head>
	<body>
		<header>
			<h1> Data Exchange Site</h1>
					{% if user.is_authenticated %}
					
						<h3>Welcome: {{user.username}}</h3>
						<h4>Your current balance is: {{user.wallet.balance}} points</h4>

					{% endif %}
				<ul>
					<li>
						<a href="{% url 'home' %}">Home</a>
					</li>
					<li>
						<a href="{% url 'about' %}">About</a>
					</li>
					<li>
						<a href="{% url 'contact' %}">Contact</a>
					</li>
					{% if user.is_authenticated %}
					<li>
						<a href="{% url 'auth_logout' %}">Logout</a>
					</li>
					<li>
						<a href="{% url 'password_change' %}">Change password</a>
					</li>
					<li>
						<a href="{% url 'list' %}">List of Uploads</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'auth_login' %}">Login</a>
					</li>
					<li>
						<a href="{% url 'registration_register' %}">Register</a>
					</li>
					{% endif %}
				</ul>
		</header>
		{% block content %}{% endblock %}
		{% block footer %}{% endblock %}
	</body>
</html>