{% extends 'layouts/base.html' %}
{% block title %}List - {{block.super}}{% endblock %}
{% block content %}
	<head>
        <meta charset="utf-8">  
    </head>
	<body>
    	<h2> List of Uploaded Files </h2>
    {% if files %}
        <ul>
        {% for file in files %}
            <li><a href="{{ MEDIA_URL }}{{ file.docfile.url }}">{{ file.name }}</a><h4>Uploaded by {{file.user}}</h4></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

    	<h3> <a href="{% url 'create_file' %}">Upload A File </a></h3>

    </body>
{% endblock %}